/* ----- Header ----- */

@import "https://fonts.googleapis.com/css?family=Lato:300";

* {
  font-family: "Lato", sans-serif !important;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background: green;
}

a {
  text-decoration: none;
}
.nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: green;
}
.navbar{
  background: green;
}

.button {
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  color: #fff;
  line-height: 36px;
  text-align: center;
  font-size: 22px;
}

.button:hover {
  color: #40a4e8;
  border: 1px solid #4094e8;
}

.title {
  font-size: 30px;
  float: left;
  line-height: 67px;
  color: #fff;
  margin-left: 20px;
}

.title:hover {
  color: white;
  text-decoration: none;
}

/* ----- Footer ----- */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
